<h1> Manage Users </h1>

{{#each response}}
<div class="table-responsive">
<table class="table-striped">
	<th>
		{{this.username}}
	</th>
	<tr>
		<td>First Name</td><td>{{this.name.first}}</td>
	</tr>
	<tr>
		<td>Last Name</td><td>{{this.name.last}}</td>
	</tr>
	<tr>
		<td>Middle Name</td><td>{{this.name.middle}}</td>
	</tr>
	<tr>
		<td>Alias</td><td>{{this.name.alias}}</td>
	</tr>
	<tr>
		<td>Password</td><td>{{this.password}}</td>
	</tr>
	<tr>
		<td>Email</td><td>{{this.contact.email}}</td>
	</tr>
	<tr>
		<td>Phone</td><td>{{this.contact.phone}}</td>
	</tr>
	<tr>
		<td>Balance</td><td>{{this.balance}}</td>
	</tr>
	<tr>
		<td>Executor</td><td>{{executor}}</td>
	</tr>
	<tr>
	<!-- Edit button -->	
		<td>
			<form action="/editUser" method="post" > <!-- TODO: Need to set up this route in site/index.js -->
			<button type="submit" name="edit-bttn">Edit</button>
			<input hidden="true" value="{{this.username}}" name="username">
			<input hidden="true" value="{{../executor}}" name="executor">
			</form>
		</td>
			<!-- Delete button -->
		<td>
			<form action="/deleteUser" method="post" > <!-- TODO: Need to set up this route in site/index.js -->
			<button type="submit" name="delete-bttn">Delete</button>
			<input hidden="true" value="{{this.username}}" name="username">
			<input hidden="true" value="{{../executor}}" name="executor">
			</form>
		</td>
	</tr>

</table>
{{/each}}
